<div class="container mt-5 pt-5">
    <h2 class="text-center mb-4">Sobre Nosotros</h2>
    <p class="text-center mb-5">
        Somos una empresa con amplia experiencia en soluciones maquinaria industrial, comprometidos con la
        excelencia y la innovación.
    </p>

    <div class="row g-3">
        <div class="col-12 col-md-4 mb-4" *ngFor="let card of cards">
            <div class="card h-100 mb-4 card-bg rounded-4">
                <div class="card-body">
                    <h5 class="card-title text-center">{{ card.title }}</h5>
                    <p class="card-text">{{ card.description }}</p>
                </div>
            </div>
        </div>
    </div>
    <footer class="mt-5 pt-4 border-top text-center small text-muted">
        <p>Más formas de contactarnos: visítanos o llámanos al 312 569 0879.</p>
        <p>Colombia</p>
        <p>Copyright © 2025 Logiacol. Todos los derechos reservados.</p>
        <p>
            <a href="#" class="text-muted me-2">Política de Privacidad</a>
            <a href="#" class="text-muted me-2">Términos de Uso</a>
            <a href="#" class="text-muted me-2">Ventas y Devoluciones</a>
            <a href="#" class="text-muted me-2">Legal</a>
            <a href="#" class="text-muted">Mapa del Sitio</a>
        </p>
    </footer>
</div>
